# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
*.auto.tfvars
terraform.tfvars

# Ansible
*.retry

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
